body { 	
	background: #444; 	
	font-family: monospace; 
} 
.hidden{
  overflow: hidden;
}

.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #cef;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }

  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}
.galeria { 	
	list-style: none;
} 
.galeria li { 	
    margin: 15px;
} 
.modal { 	
    display: none; 
} 
.modal:target { 	 	
    display: block; 	
    position: fixed; 	
    background: rgba(0,0,0,0.8); 	
    top: 0; 	
    left: 0; 	
    width: 100%; 	
    height: 100%; 
} 
.modal h3 { 	
    color: #fff; 	
    font-size: 30px; 	
    text-align: center; 	
    margin: 15px 0; 
} 
.imagen { 	
    width: 100%; 	
    height: 50%; 	 	
    display: flex; 	
    justify-content: center; 	
    align-items: center; 
} 
.imagen a { 	
	color: #fff; 	
	font-size: 40px; 	
	text-decoration: none; 	
	margin: 0 10px; 
} 
.imagen a:nth-child(2) { 	
	margin: 0; 	
	height: 100%; 	
	flex-shrink: 2; 
} 
.imagen img { 	
	width: 450px; 	
	height: 350px; 	
	max-width: 100%; 	
	border: 5px solid #fff; 	
	box-sizing: border-box; 
} 
.cerrar { 	
	display: block; 
	width: 30px; 	
	height: 30px; 	
	margin: 100px auto; 	
	text-align: center; 	
	text-decoration: none; 	
	font-size: 80px; 	
	color: red;  	
	border-radius: 30%; 	
	line-height: 20px; 
}
